.popup__job {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 100%;
  margin-top: 29px;
  border: 0 0 0;
  box-sizing: border-box;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  outline: none;
}